<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.luthtan.simplebleproject.dashboard_feature">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <dist:module
        dist:instant="false"
        dist:title="@string/title_dashboard_feature">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".DashboardActivity"></activity>

        <service
            android:name=".service.BleAdvertiserService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>