<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luthtan.simplebleproject.dashboard">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".DashboardActivity"></activity>

        <service
            android:name=".service.BleAdvertiserService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>